@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #070F2B;
    --cor-secundaria: #FBF9F1;
    --cor-terciaria: #535C91;

    --fonte-primaria: 'montserat' , sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.container {
    padding: 4% 0 0 15%;
}

.container__menu {
    display: flex;
    gap: 60px;
}

.container__menu__link {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
}

.apresentacao__conteudo__titulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    text-align: center;
    padding: 3%;
}

.apresentacao__imagem {
    margin: 0px 17px 0px 17px;
    padding: 5px;
    border: thin solid;
    border-color: var(--cor-terciaria);
    border-width: 0.6dvh;
}

.apresentacao__conteudo {
    height: 150px;
    width: 20%;
}